Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -modernize-use-trailing-return-type

WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|apps|tests)/.*'
FormatStyle: file
